<h1>Todos</h1>
  <% @todos.each do |todo| %>
    <ul>
      <li><%= todo.item %></li>
      <li><%= todo.id %></li>
      <li><%= todo.done %></li>
        <p>
          <%= hidden_field :done, :value => true %>
          <%= link_to("Done", list_path(todo.id), :done => true, :method => :put)%>
        </p>
    </ul>
  <% end %>

<br><br>

<p><%= link_to 'New Todo', new_list_path %></p>

<br><br>

