<h1>New Item</h1>
<%= form_for :list do |f| %>
  <p>
    <%= f.label :list %><br>
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.label :done %><br>
    <%= f.text_field :item %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>