<h1>New Todo</h1>
<%= form_for :list, :url => lists_path(), :method => :post  do |f| %>
  <p>
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </p>
  <p id="addnew">
    <%= f.hidden_field :done, :value => false %>
    <%= f.submit("Add New Todo") %>
  </p>
<% end %>

<br><br>
